{% extends "header.html" %}

{% block content %}
<center>
<div class="container">
        <form method="POST" action="/Update" align="center" class="form-inline">{% csrf_token %}



          {{ form.as_p }}

            <button type="submit" align="centre" class="button button1">Submit</button>




   </form>
    <br>
    <form method="GET"><button type="submit" align="centre" formaction="/index" class="button button1">Check</button></form>
   </div>
    <br>
    <br>
    <div>
        <form action="/getUnique">
            <a>Stack Name:</a> <input type="text" name="StackNo" >
  <br>
<br>
  <input type="submit" value="Submit"class="button button1">
</form>
    </div>
 </center>
{% endblock %}