{% extends "header.html" %}

{% block content %}
<head>
    <style>
        table, th, td {
    border:1px solid black;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 1px;
    color:black;
    background-color:white;

}

    </style>
</head>
<body>
<center>
{% if stack %}
    <table style="width:100%;  ">
        <caption><h3><b>Moisture Details</b></h3></caption>
    <tr>
        <th> <i>Token No</i> </th>
        <th><i>Stack No</i></th>
        <th><i>Moisture</i></th>
        <th><i>ValueCut</i></th>
    </tr>
    {% for s in stack %}
    <tr>
        <th>{{ s.TokenNo }}</th>
        <th>{{ s.StackNo }}</th>
        <th>{{ s.GrainMoisture }}</th>
        <th>{{ s.ValueCut }}</th>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No stacks are available.</p>
{% endif %}
<form method="GET">
    <button type="submit" align="centre" formaction="/index" class="button button1">Check</button>

    <button type="submit" align="centre" formaction="/Update" class="button button1">Back</button>
</form>
</center>
</body>

{% endblock %}